$white: #ffffff;
$black: #000000;
$black-pearl: #090f31;
$light-black: #4f4f4f;
$turquoise: #40e0d0;
$light-blue: #fafbfd;
$medium-blue: #3d5afe;
$dark-blue: #0039cb;
$royal-blue: #2962ff;
$gray-blue: #455a64;
$dark-cyan: #1c313a;
$dark-gray: #aeaeae;
$very-dark-gray: #3f3f3f;
$medium-gray: #9e9e9e;
$light-gray: #a9a9a9;
$very-light-gray: #e0e0e0;
$battleship-gray: #828282;
$gray-black: #333333;
$dark-orange: #f7542e;
$dark-red: #d32f2f;
$dark-pink-red: #9a0007;

$royal-blue: rgba(41, 98, 255, 0.1);
$dark-charcoal: 0 2px 3px rgba(51, 51, 51, 0.2);
$very-dark-blue: 0 2px 3px rgba(0, 49, 202, 0.2);

$width: 200px;
$height: 56px;
$red: #d32f2f;
$very-light-gray2: #f2f2f2;
