<router-outlet></router-outlet>

<article class="inputs">
  <h1>Inputs</h1>

  <div class="input-basic">
    <div class="input-wrapper">
      <code>&lt;Input /&gt;</code>
      <div class="input-item">
        <label for="default">Label</label>
        <input type="text" id="default" placeholder="Placeholder">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&:hover</code>
      <div class="input-item">
        <label for="default">Label</label>
        <input type="text" placeholder="Placeholder">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&:focus</code>
      <div class="input-item">
        <label for="default" class="label-focus">Label</label>
        <input type="text" placeholder="Placeholder" class="input-focus">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&lt;Input error /&gt;</code>
      <div class="input-item">
        <label for="error" class="label-error">Label</label>
        <input type="text" id="error" placeholder="Placeholder" class="input-error">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&:hover</code>
      <div class="input-item">
        <label for="default">Label</label>
        <input type="text" placeholder="Placeholder">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&:focus</code>
      <div class="input-item">
        <label for="default">Label</label>
        <input type="text" placeholder="Placeholder" class="input-error">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&lt;Input disabled /&gt;</code>
      <div class="input-item">
        <label for="disabled">Label</label>
        <input type="text" id="disabled" placeholder="Placeholder" class="input-disabled">
      </div>
    </div>
  </div>

  <div class="input-helper-text">
    <div class="input-wrapper">
      <code>&lt;Input helperText=”Some interesting text” /></code>
      <div class="input-item">
        <label for="input-helper">Label</label>
        <input type="text" id="input-helper" placeholder="Placeholder">
        <span>Some interesting text</span>
      </div>
    </div>
    <div class="input-wrapper">
      <code>&lt;Input helperText=”Some interesting text” error /></code>
      <div class="input-item">
        <label for="input-helper" class="label-error">Label</label>
        <input type="text" placeholder="Placeholder" class="input-error">
        <span class="label-error">Some interesting text</span>
      </div>
    </div>
  </div>

  <div class="input-icons">
    <div class="input-wrapper">
      <code>&lt;Input startIcon /&gt;</code>
      <div class="input-item">
        <label for="input-start-icon">Label</label>
        <input type="text" id="input-start-icon" placeholder="Placeholder" class="input-start-icon">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&lt;Input endIcon /></code>
      <div class="input-item">
        <label for="input-end-icon">Label</label>
        <input type="text" id="input-end-icon" placeholder="Placeholder" class="input-end-icon">
      </div>
    </div>
  </div>

  <div class="input-value">
    <div class="input-wrapper">
      <code>&lt;Input value=”text” /></code>
      <div class="input-item">
        <label for="input-value">Label</label>
        <input type="text" id="input-value" placeholder="Text">
      </div>
    </div>
  </div>

  <div class="input-size">
    <div class="input-wrapper">
      <code>&lt;Input size=”sm” /></code>
      <div class="input-item">
        <label for="sm">Label</label>
        <input type="text" id="sm" placeholder="Placeholder" class="input-sm">
      </div>
    </div>
    <div class="input-wrapper">
      <code>&lt;Input size=”md” /></code>
      <div class="input-item">
        <label for="md">Label</label>
        <input type="text" id="md" placeholder="Placeholder">
      </div>
    </div>
  </div>

  <div>
    <div class="input-wrapper">
      <code>&lt;Input fullWidth /></code>
      <div class="input-item">
        <label for="full-width">Label</label>
        <input type="text" id="full-width" placeholder="Placeholder" class="input-full-width">
      </div>
    </div>
  </div>

  <div>
    <div class="input-wrapper">
      <code>&lt;Input multiline row=”4” /></code>
      <div class="input-item">
        <label for="multi">Label</label>
        <textarea id="multi" placeholder="Placeholder" rows="6" cols="40"></textarea>
      </div>
    </div>
  </div>
</article>
