<article class="buttons">
  <h1>Buttons</h1>

  <section class="basic-buttons">
    <div class="button-wrapper">
      <code>&lt;Button /&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&:hover, &:focus</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button variant="outline"&nbsp;/&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&:hover, &:focus</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button variant="text"&nbsp;/&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&:hover, &:focus</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button disableShadow /&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">

    </div>
    <div class="button-wrapper">
      <code>&lt;Button disabled&nbsp;/&gt;</code>
      <button>Disabled</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button variant="text" disabled&nbsp;/&gt;</code>
      <button>Disabled</button>
    </div>
  </section>

  <section class="button-icons">
    <div class="button-wrapper">
      <code>&lt;Button startIcon="local_grocery_store"&nbsp;/&gt;</code>
      <button><span class="material-icons">add_shopping_cart</span>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button endIcon="local_grocery_store"&nbsp;/&gt;</code>
      <button>Default <span class="material-icons">add_shopping_cart</span></button>
    </div>
  </section>

  <section class="button-sizes">
    <div class="button-wrapper">
      <code>&lt;Button size="sm"&nbsp;/&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button size="md"&nbsp;/&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button size="lg"&nbsp;/&gt;</code>
      <button>Default</button>
    </div>
  </section>

  <div class="button-colors">
    <div class="button-wrapper">
      <code>&lt;Button color="default"&nbsp;/&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button color="primary"&nbsp;/&gt;</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button color="secondary"&nbsp;/&gt;</code>
      <button>Secondary</button>
    </div>
    <div class="button-wrapper">
      <code>&lt;Button color="danger"&nbsp;/&gt;</code>
      <button>Danger</button>
    </div>
    <div class="button-wrapper">
      <code>&:hover, &:focus</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&:hover, &:focus</code>
      <button>Default</button>
    </div>
    <div class="button-wrapper">
      <code>&:hover, &:focus</code>
      <button>Secondary</button>
    </div>
    <div class="button-wrapper">
      <code>&:hover, &:focus</code>
      <button>Danger</button>
    </div>
  </div>

  <div class="resources">Icons:
    <a target="_blank" href="https://material.io/resources/icons/?style=round">
      https://material.io/resources/icons/?style=round
    </a>
  </div>
</article>
